body {
    background-color: #17290e;
    margin: 0;
    padding: 20px;
    font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 500px; 
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.pic, .default-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s ease;
}

.image-hover-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    }

.image-container:hover .default-img,
.image-container:hover .pic {
    opacity: 0.1;
    box-shadow: 0 0 15px rgb(46, 74, 53);
    transform: scale(1.02);
}

.image-container:hover .hover-img {
    opacity: 1;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    transition: all 0.3s ease;
}

.image-container:hover .pic {
    box-shadow: 0 0 15px rgb(46, 74, 53);
    transform: scale(1.02);
    opacity: 0.2; 
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 41, 14, 0.9);
    color: bisque;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    line-height: 1.6;
    overflow-y: auto; 
}
.image-container:hover .hover-text {
    opacity: 1;
}
 a {font-size: 11px;
	font-family: 'Courier New', Courier, monospace;
    color: #6b8a70;
    position: sticky;
    bottom: -835px;    
    left: 135px;     
    z-index: 100;    
}

@media (max-width: 580px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr); 
    }
    .image-container {
        height: 400px;
    }
}

@media (min-width: 581px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); 
    }
    .image-container {
        height: 450px;
    }
}

@media (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .image-container {
        height: 500px;
    }
}